lab/flow/flows.json
[
    {
        "id": "b79e127500080522",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b0c4f96ee6214deb",
        "type": "tab",
        "label": "json",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "52b730b396851230",
        "type": "mqtt-broker",
        "name": "",
        "broker": "io.adafruit.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "57801d23e173f057",
        "type": "telegram bot",
        "botname": "Betty",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "884f1cae3d0b5943",
        "type": "tls-config",
        "name": "secured",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "cert.pem",
        "keyname": "key.pem",
        "caname": "cert.pem",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "be3c2ebcb0feef1d",
        "type": "mqtt in",
        "z": "b79e127500080522",
        "d": true,
        "name": "",
        "topic": "mccwong/feeds/reply",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52b730b396851230",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 280,
        "wires": [
            [
                "9eea1eda097c9b83"
            ]
        ]
    },
    {
        "id": "dbd825d4dc8dc05a",
        "type": "mqtt out",
        "z": "b79e127500080522",
        "d": true,
        "name": "reply",
        "topic": "mccwong/feeds/reply",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "52b730b396851230",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "bed0e2ab06a1359a",
        "type": "telegram receiver",
        "z": "b79e127500080522",
        "d": true,
        "name": "Betty",
        "bot": "57801d23e173f057",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "9eea1eda097c9b83"
            ],
            [
                "9eea1eda097c9b83"
            ]
        ]
    },
    {
        "id": "4bc6631e4a55df02",
        "type": "telegram sender",
        "z": "b79e127500080522",
        "d": true,
        "name": "Betty to Note13",
        "bot": "57801d23e173f057",
        "haserroroutput": false,
        "outputs": 1,
        "x": 340,
        "y": 680,
        "wires": [
            [
                "f2261d51d1a5bd97"
            ]
        ]
    },
    {
        "id": "9eea1eda097c9b83",
        "type": "debug",
        "z": "b79e127500080522",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "b92df2d0f64264e8",
        "type": "inject",
        "z": "b79e127500080522",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "dbd825d4dc8dc05a"
            ]
        ]
    },
    {
        "id": "bc88997e745ab5f3",
        "type": "mqtt in",
        "z": "b79e127500080522",
        "d": true,
        "name": "",
        "topic": "mccwong/feeds/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52b730b396851230",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "97e43abe67878637"
            ]
        ]
    },
    {
        "id": "97e43abe67878637",
        "type": "debug",
        "z": "b79e127500080522",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 360,
        "wires": []
    },
    {
        "id": "2b6ca3e09fd6f096",
        "type": "mqtt out",
        "z": "b79e127500080522",
        "d": true,
        "name": "reply",
        "topic": "mccwong/feeds/json",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "52b730b396851230",
        "x": 570,
        "y": 560,
        "wires": []
    },
    {
        "id": "2aea894be20a1a5d",
        "type": "inject",
        "z": "b79e127500080522",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "2b6ca3e09fd6f096"
            ]
        ]
    },
    {
        "id": "b5e5223c9603adaa",
        "type": "inject",
        "z": "b79e127500080522",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload.content",
                "v": "",
                "vt": "date"
            },
            {
                "p": "payload.type",
                "v": "message",
                "vt": "str"
            },
            {
                "p": "payload.chatId",
                "v": "6324343731",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "4bc6631e4a55df02"
            ]
        ]
    },
    {
        "id": "f2261d51d1a5bd97",
        "type": "debug",
        "z": "b79e127500080522",
        "d": true,
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 680,
        "wires": []
    },
    {
        "id": "5482a6530dee75de",
        "type": "http request",
        "z": "b79e127500080522",
        "d": true,
        "name": "JOIN to Note 13",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://joinjoaomgcd.appspot.com/_ah/api/messaging/v1/sendPush?title=nodered&apikey=b1396975369945799eefcd49dab491e5&deviceId=9642e2106a1d4fb9ba240338d3c60a58&text=my+text",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 780,
        "wires": [
            [
                "750f8c4cdd95fd4a"
            ]
        ]
    },
    {
        "id": "3fee246d2061e8d1",
        "type": "inject",
        "z": "b79e127500080522",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "5482a6530dee75de"
            ]
        ]
    },
    {
        "id": "750f8c4cdd95fd4a",
        "type": "debug",
        "z": "b79e127500080522",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 780,
        "wires": []
    },
    {
        "id": "acf47242620b5024",
        "type": "http in",
        "z": "b79e127500080522",
        "name": "",
        "url": "/a",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 530,
        "y": 900,
        "wires": [
            [
                "b26c2a9b92fe2345"
            ]
        ]
    },
    {
        "id": "3900fb3eb803b586",
        "type": "http response",
        "z": "b79e127500080522",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1040,
        "y": 900,
        "wires": []
    },
    {
        "id": "7d6e8f66854940ba",
        "type": "debug",
        "z": "b79e127500080522",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 980,
        "wires": []
    },
    {
        "id": "b26c2a9b92fe2345",
        "type": "function",
        "z": "b79e127500080522",
        "name": "function 1",
        "func": "msg.payload = \"hello world\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 900,
        "wires": [
            [
                "3900fb3eb803b586",
                "7d6e8f66854940ba"
            ]
        ]
    },
    {
        "id": "527529baca76ab74",
        "type": "https-node",
        "z": "b79e127500080522",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "b",
        "tls": "884f1cae3d0b5943",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 530,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "e4d1e53dfe32fdc2",
        "type": "http in",
        "z": "b0c4f96ee6214deb",
        "name": "/json/:file",
        "url": "/json/:file",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "c1676e832fa137f6"
            ]
        ]
    },
    {
        "id": "a6facd390cb67d0f",
        "type": "file in",
        "z": "b0c4f96ee6214deb",
        "name": "read file",
        "filename": "req.params",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "0a294c79cd7154b3"
            ]
        ]
    },
    {
        "id": "0a294c79cd7154b3",
        "type": "json",
        "z": "b0c4f96ee6214deb",
        "name": "to obj",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "91e45a57d409734a"
            ]
        ]
    },
    {
        "id": "91e45a57d409734a",
        "type": "function",
        "z": "b0c4f96ee6214deb",
        "name": "push req.query",
        "func": "//msg.payload = msg.payload.push({hello: 123});\n//msg.payload = msg.payload.push({abc: 123});\n// msg.payload = [].push({abc: 456});\n// console.log(msg.payload);\n// msg.payload = [{abc:3456}];\n// msg.payload.push({def:45240523945});\n// msg.payload.push(msg.req.params);\nmsg.req.query.milli=Date.now();\nmsg.payload.push(msg.req.query);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 160,
        "wires": [
            [
                "14c35a42aba18d1b",
                "893b3d628e012740"
            ]
        ]
    },
    {
        "id": "14c35a42aba18d1b",
        "type": "json",
        "z": "b0c4f96ee6214deb",
        "name": "to str",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 390,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0dd4d04b51937238",
        "type": "http response",
        "z": "b0c4f96ee6214deb",
        "name": "output",
        "statusCode": "200",
        "headers": {},
        "x": 110,
        "y": 240,
        "wires": []
    },
    {
        "id": "893b3d628e012740",
        "type": "file",
        "z": "b0c4f96ee6214deb",
        "name": "write",
        "filename": "req.params",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "0dd4d04b51937238"
            ]
        ]
    },
    {
        "id": "c1676e832fa137f6",
        "type": "function",
        "z": "b0c4f96ee6214deb",
        "name": "set file name",
        "func": "let file = msg.req.params.file;\nfile = \"/home/pi/www/nodered/\"+file+\".json\";\nmsg.req.params=file;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 80,
        "wires": [
            [
                "a6facd390cb67d0f",
                "5b5a5be585a80501"
            ]
        ]
    },
    {
        "id": "709e2ebd749c6156",
        "type": "http in",
        "z": "b0c4f96ee6214deb",
        "name": "/new/:file",
        "url": "/new/:file",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "82a644daaa19484a"
            ]
        ]
    },
    {
        "id": "f225f8b6c53d2a54",
        "type": "http response",
        "z": "b0c4f96ee6214deb",
        "name": "output",
        "statusCode": "200",
        "headers": {},
        "x": 110,
        "y": 480,
        "wires": []
    },
    {
        "id": "82a644daaa19484a",
        "type": "function",
        "z": "b0c4f96ee6214deb",
        "name": "set file name",
        "func": "let file = msg.req.params.file;\n// file = \"/nodered/\"+file+\".json\";\nfile=file+\".json\";\nmsg.req.params=file;\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 360,
        "wires": [
            [
                "1bc2c983c4431e6b"
            ]
        ]
    },
    {
        "id": "1bc2c983c4431e6b",
        "type": "fs-copy-move",
        "z": "b0c4f96ee6214deb",
        "oper": "cp",
        "srcPath": "/home/pi/www/nodered/",
        "srcPathType": "str",
        "srcFilename": "empty.json",
        "srcFilenameType": "str",
        "dstPath": "/home/pi/www/nodered/",
        "dstPathType": "str",
        "dstFilename": "req.params",
        "dstFilenameType": "msg",
        "overwrite": true,
        "name": "copy empty file",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "f08b3a3540e1fb91"
            ]
        ]
    },
    {
        "id": "5b5a5be585a80501",
        "type": "debug",
        "z": "b0c4f96ee6214deb",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.params",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "3eb7eb4d9b9abaf9",
        "type": "comment",
        "z": "b0c4f96ee6214deb",
        "name": "set file",
        "info": "",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "601055532041e62f",
        "type": "comment",
        "z": "b0c4f96ee6214deb",
        "name": "reset file",
        "info": "",
        "x": 120,
        "y": 280,
        "wires": []
    },
    {
        "id": "f08b3a3540e1fb91",
        "type": "function",
        "z": "b0c4f96ee6214deb",
        "name": "function 2",
        "func": "msg.payload = msg.req.params;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 440,
        "wires": [
            [
                "f225f8b6c53d2a54"
            ]
        ]
    }
]